access_ip = ["0.0.0.0/0"] # IPs from where icinga can be administrated via ssh and http
icinga_ips = ["0.0.0.0/0"] # IPs from where the icinga agent will reach icinga server
dbname = "icinga2" # Main Icinga database
dbuser = "icingaadmin" # Main Icinga DB user
dbpassword = "StrongPassword" # Main Icinga DB Pass